img {
  max-width: 100%;
}

.page .col-lg-6 {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.page .col-lg-5 {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.page .image {
  padding: 0;
}

.page .title-section {
  background-color: black;
  color: white;
  height: 30vh;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
  padding: 0 4rem;
}

.form .input {
  background: transparent;
  border-width: 2px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: 0;
}

.form .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 25vw;
  height: 3vw;
  padding: 0;
  background-color: #54c7fa;
  border: none;
}

.form .btn .login-link {
  color: white;
}

.logo-container {
  padding-top: 7rem;
  padding-left: 8rem;
}

.logo-container .logo-login-signup {
  background-color: black;
}

.signupForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
  padding: 0 8rem;
}

#page-content-wrapper {
  padding-left: 2em;
  padding-top: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

#sidebar-wrapper {
  background-color: black;
  color: white;
  width: 8rem;
  font-size: 14px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.sidebar {
  color: white;
}

.sidebar .logo-container {
  margin-top: 18px;
  padding: 4px 8px;
}

.sidebar .nav-link {
  color: white;
}

.MdSpeed {
  margin-right: 8px;
  font-style: 10;
  margin-bottom: 4px;
}

.dashboard {
  margin-bottom: 20px;
}

.collapse-sidebar-btn {
  position: absolute;
  bottom: 0;
}

.collapse-sidebar-btn .c-sidebar {
  color: white;
}

.collapse-sidebar-btn .c-sidebar a {
  color: white;
}

.collapse-sidebar-btn li {
  padding: 10px 10px;
  list-style: none;
}

.collapse-sidebar-btn a {
  color: black;
}

.collapse-sidebar-btn .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collapse-sidebar-btn img {
  position: absolute;
  bottom: 2rem;
  left: 10px;
  width: 30px;
}

.btn-group {
  position: relative;
  right: 2rem;
}

.card-section {
  width: 65rem;
}

.card-section .card-collection {
  margin-right: 30px;
  width: 16vw;
}

.card-section .card-body {
  padding-right: 4rem;
  width: 20rem;
}

.card-section .icon {
  padding-right: 1rem;
}

.card-section .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  color: white;
}

.content {
  padding-left: 25px;
}

.content h6 {
  font-weight: normal;
  color: gray;
}

.content span {
  font-weight: bold;
}

.attendance-wrapper {
  margin: 12px;
  height: 7vh;
  width: 100%;
  margin-right: 628px;
  background-color: #fafafa;
}

.attendance-wrapper span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.attendance-wrapper .attendance-status {
  font-weight: bold;
}

.clock-wrap {
  margin-bottom: 1rem;
}

.clock-wrap .clock-status {
  font-weight: bold;
}

.clock-wrap .text-muted {
  font-size: 13px;
}

.workin-place-wrapper {
  margin-top: 20px;
}

.workin-place-wrapper .work-status {
  font-weight: bold;
}

.clock-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  margin-top: 20px;
}

.clock-btn button {
  margin-right: 40px;
  padding: 10px 10px;
  border-radius: 2px;
  width: 8rem;
}

#clockfunctionality {
  margin-top: 10px;
  height: 20vh;
  width: 45rem;
}

.employees {
  margin-right: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.employees .employe-icon {
  margin-right: 10px;
  margin-bottom: 3px;
}

.employees button {
  border-radius: 3px;
  border: 2px solid #3befef;
  color: #3befef;
  background-color: transparent;
  font-weight: bold;
}

.employee-detail {
  margin-top: 20px;
  margin-right: 228px;
}

.employee-detail .card-body {
  height: 10vh;
}

.entries {
  margin-top: 20px;
  margin-right: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.entries input {
  border: 1px solid gray;
}

.employee-section {
  width: 80%;
}

.main-table {
  margin-top: 25px;
  width: 83%;
  height: 43vh;
}

.page-link {
  color: gray;
  font-weight: bold;
}

span.page-link {
  border: 2px solid red;
}

.page-item.active .page-link {
  background-color: gray;
  border-color: gray;
}

.title {
  margin-top: 20px;
  font-weight: 700;
}

.employee-info-wrapper {
  margin: 12px;
  height: 7vh;
  width: 100%;
  margin-right: 3rem;
  background-color: #fafafa;
}

.employee-info-wrapper .add-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: gray;
  font-weight: bold;
}

.employee-list {
  margin-bottom: 1rem;
}

.employee-list .sidebar-icon {
  margin-bottom: 3px;
  margin-right: 1rem;
}

.navbar-item .sidebar-icon {
  margin-right: 10px;
}

.employee-details {
  margin-right: 23px;
}

.employee-details p {
  font-weight: light;
  color: gray;
}

.employee-details .info-circle {
  margin-bottom: 2px;
}

.gender {
  width: 24rem;
}

.more-info {
  margin-top: 1rem;
  margin-right: 23px;
}

.textbox {
  margin-top: 1rem;
  margin-right: 23px;
}

.tag {
  margin-right: 23px;
}

.tag-field {
  border: 1px solid #fafafa;
  padding: 4px 4px;
  border-radius: 2px;
}

.upload {
  margin-top: 1rem;
}

.save-btn {
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 4px 7px;
  border-radius: 3px;
}

.select-btn {
  background-color: #1fa5d2;
  color: white;
  border: 0;
  border-radius: 2px;
  padding: 4px 6px;
}

.attendance-date {
  margin-top: 12px;
  margin-left: 12px;
  height: 5vh;
  width: 100%;
  margin-right: 23px;
  background-color: #fafafa;
}

.attendance-date span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.attendance-date .attendance-status {
  font-weight: bold;
}

.att-icon {
  margin-right: 5px;
  margin-bottom: 3px;
}

.attendance-card {
  margin-right: 15rem;
  margin-top: 1rem;
}

.attend-card {
  margin-top: 10px;
  height: 10vh;
}

.attend-card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.icon {
  margin-right: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(206, 145, 177, 0.8)), color-stop(rgba(57, 63, 57, 0)), to(#687aaa));
  background: linear-gradient(rgba(206, 145, 177, 0.8), rgba(57, 63, 57, 0), #687aaa 100%);
  width: 70px;
  height: 70px;
  padding: 15px 15px 15px 15px;
  border-radius: 50%;
}

.icon-2 {
  margin-right: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1202ff), color-stop(#687aaa), to(rgba(255, 0, 47, 0.96)));
  background: linear-gradient(#1202ff, #687aaa, rgba(255, 0, 47, 0.96));
  background-color: red;
  width: 70px;
  height: 70px;
  padding: 15px 15px 15px 15px;
  border-radius: 50%;
}

.icon-4 {
  margin-right: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#d60e0b), color-stop(#e15c23), to(#f1ed0a));
  background: linear-gradient(#d60e0b, #e15c23, #f1ed0a);
  width: 70px;
  height: 70px;
  padding: 15px 15px 15px 15px;
  border-radius: 50%;
}

.admin-table {
  height: 5vh;
}

.date-picker {
  margin-top: 6px;
}
/*# sourceMappingURL=Style.css.map */